
h1,h2,h3,h4,h5,h6,p,figure,ul,li {
    margin: 0;
    padding: 0;
    
}

.bloque {
    float: left;
    height: 220px;
    width: 650px;
    position: relative;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 20px;
}

.bloque2 {
    height: 220px;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 20px;
}

.imagen {
    position: absolute;
    bottom: -6px;
}

.imagen.left {
    left: 10px;
}

.imagen.right {
    right: 10px;
}

.descripcion.left{
    margin-left: 470px;
}

.descripcion.right{
    margin-right: 470px;
}

.centrar-bloque {
    width: 1000px;
    margin: auto;
}

#barra-navegacion {
    border-top: 3px solid;
    border-color: #ff8200;
    position: relative;
    z-index: 70;
    background: url(../images/barranavegacion.png);
    height: 40px;
    line-height: 40px;
}

#barra-navegacion li{
    display: inline-block;
    padding: 0;
}

#barra-navegacion > ul{
   display: flex;
}

#barra-navegacion > li{
   display: block;
}

#barra-navegacion a{
    color:darkgray;
    text-decoration: none;
    transition: 0.7s;
    padding: 8px 18px;
}


nav li{
    display:inline-flex;
    
}

nav li a:hover{
 background-color: rgb(45,45,45);
    
}

nav a{
    background-color: none;
    padding: 10px;
    margin: 4px 9px;
    text-decoration: none;
    
}

#contenedor {
    width: 1000px;
    margin: auto;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    background: #fff;
    min-height: 100%;
    position: relative;
}

#encabezado {
    background: url(../images/encabezado.png) #fbfbfb;
    height: 110px;
}


body {
    background-color: #fff;
    background-image: url(../images/cuadritoschidos.png);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #0B0B0B;
}

ul{
list-style: none;
}


#Contenido {
    padding: 5px 10px 0 10px;
    height: 1150px;
}

#pie{
    padding-top: 8px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    background: #303030;
    background-image: url(../images/cuadritoschidos.png);
    border-top: 3px solid;
    border-color: #ff8200;
    line-height: 17px;
}
.red-social {
    margin-top: 0px;
    float: right;
    padding-right: 7px;
}

#pie p{
    padding-left: 6px;
    width: 900px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pie span{
    padding-left: 6px;
    display: block;
    color: #878787;
    font-size: 12px;
}




.encuestas {
    float: right;
    padding: 10px;
    width: 300px;
    height: 1100px;
    border-left: 1px solid #ccc;
    background-color: #fafafa;
}

.encuestas h1 {
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: -10px -10px 10px -10px;
    line-height: 33px;
    padding-left: 10px;
    background: url(../images/masvendidas.png);
    height: 33px;
    color: #5b5b5b;
}


.lista-encuestas {
    margin: -10px -10px 10px -10px;
}

.lista-encuestas li{
    overflow: hidden;
    line-height: 30px;
    background: #fcfcfc;
    border-bottom: 1px dotted #ccc;
}

.lista-encuestas li a{
    color: #000;
    font-weight: bold;
    display: block;
    padding-left: 30px;
}

.lista-estrella li a{
    background: url(../images/estrella.png) 7px 5px no-repeat;
}

.lista-potentes li a{
    padding-left: 10px;
}

.lista-encuestas a {
    position: relative;
    z-index: 50;
}

a {
text-decoration: none;
 }

.num-1 {
    background: url(../images/numeros/uno.png) no-repeat;
}

.num-2 {
    background: url(../images/numeros/dos.png) no-repeat;
}

.num-3 {
    background: url(../images/numeros/tres.png) no-repeat;
}

.num-4 {
    background: url(../images/numeros/cuatro.png) no-repeat;
}

.num-5 {
    background: url(../images/numeros/cinco.png) no-repeat;
}


.num-1, .num-2, .num-3, .num-4, .num-5{
    width: 47px;
    height: 15px;
    float: right;
    margin-top: 7px;
}
